// Selenized White
// Ref: https://github.com/jan-warchol/selenized/blob/master/the-values.md#selenized-light
$bg_0: lab(96% 0 13);
$bg_1: lab(91% 0 13);
$bg_2: lab(82% 0 13);
$dim_0: lab(62% -4 1);
$fg_0: lab(42% -6 -6);
$fg_1: lab(31% -6 -6);

$red: lab(46% 66 42);
$green: lab(54% -40 58);
$yellow: lab(59% 6 71);
$blue: lab(46% 0 -60);
$magenta: lab(52% 58 -16);
$cyan: lab(57% -42 -4);
$orange: lab(52% 39 52);
$violet: lab(49% 32 -47);

$br_red: lab(44% 66 42);
$br_green: lab(52% -40 58);
$br_yellow: lab(57% 6 71);
$br_blue: lab(44% 0 -60);
$br_magenta: lab(50% 58 -16);
$br_cyan: lab(55% -42 -4);
$br_orange: lab(50% 39 52);
$br_violet: lab(47% 32 -47);

$fig-height: 45em;

$BodyFont: 'Atkinson Hyperlegible', sans-serif;
$HeaderFont: 'Source Sans Pro', sans-serif;

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width:640px)',
  'lmd': 'screen and (min-width:768px)',
  'lg': 'screen and (min-width:1024px)'
) !default;

// max-width
$breakpoint-down: (
  'md': 'screen and (max-width:767px)'
) !default;

// @mixin
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
